/*
.reveal .slides section>*{
    text-align: left;
}
*/
.reveal .slides {
    margin-left: 0;
    margin-right: 0; }

.reveal section img {
  border: 0;
  box-shadow: none; }

.reveal .slides section .fragment.grow {
  opacity: 1;
  visibility: inherit; }
  .reveal .slides section .fragment.grow.visible {
    -webkit-transform: scale(1.3);
            transform: scale(1.3); }
