/*
.reveal .slides section>*{
    text-align: left;
}
.reveal .slides {
    margin-left: 0;
    margin-right: 0; }
*/

html,
body {
  width: 85%;
  height: 85%;
  overflow: hidden; }

.reveal section img {
  border: 0;
  box-shadow: none; }

.reveal .slides section .fragment.grow2 {
  opacity: 1;
  visibility: inherit; }
  .reveal .slides section .fragment.grow2.visible {
    -webkit-transform: scale(2.0);
            transform: scale(2.0); }
